.subject_header{
    padding: 1px 0px;
    border-radius: 17px;
    margin-bottom: 20px;
    margin-top: -25px;
}
.subject_header>h3{
    font-size: 27px;
    font-weight: 900;
    color: #79CAC7;
}
.subject_button{
    padding: 15px;
    margin: 10px;
    /*background-color: #2b542c;*/
    margin-left: 45px;
    border-radius: 13px;

}
.subject_name{
    /*background-color: #3c3c3c!important;*/
    background-image: url(http://sath.dev/images/background.jpg);
    padding: 45px 0px;
    overflow: auto;
    height: auto;
    border-radius: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: 50px;*/
}
.btn-default {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 33px;
    padding: 40px;
    width: 270px;
    height: auto;
    color: #0000FD;
}
.btn-default:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.btn-default:active {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.btn-default.active.focus, .btn-default.active:focus,
.btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus,
.btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.subject_header>h3{
    font-size: 27px;
}
.University_search{
    background-color: #02A552!important;
    padding: 45px 0px;
    overflow: auto;
    height: auto;
    border-radius: 17px;
}
.University_search>h3{
    color: #fff;
}

.for_university{
    padding: 20px;
}
.for_university>label{
    padding: 10px 0px;
    color: #fff;
    font-size: 20px;
}
.for_search{
    padding: 10px;
    margin-top: 9%;
    color: #ffffff;
    margin-left: 16px;
}
.form-inline
{
    margin: 0 0 0 7%;
}
